﻿    <div class="col-12">
        <h2>@Model.Title</h2>
    </div>

@foreach (var pie in Model.Pies)
    {
        <div class="col-4">
            <div class="img-thumbnail">
                <img src="@pie.ImageThumbnailUrl" alt="" />
                <div class="figure-caption">
                    <h3 class="float-right">@pie.Price.ToString("c")</h3>
                    <h3>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@pie.PieId">@pie.Name</a>
                    </h3>
                    <p>
                        @pie.ShortDescription
                    </p>
                </div>
            </div>
        </div>

            }
